/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(https://karye.gitlab.io/weuweb01/images/image-134.jpg);
}
/* Kontainer */
.kontainer {
    width: 90%;
    margin: 0 auto;
}

/* Meny */
.meny {
    margin-left: 320px;
    align-items: center;
    padding: 20px 0;
}
.meny nav {
    display: flex;
    gap: 20px;
}
.meny a {
    color: #333;
    font-size: 18px;
}
.meny img {
    height: 50px;
}

/* Produkter */
.sida {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #fff;
    margin-left: 130px;
    width: 1000px;
}
.produkt {
    text-align: center;
    padding: 20px;
}
.produkt img {
    width: 100%;
    height: auto;
}