body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    background-image: url(bilder/360_F_129820472_ag5Hs4J3xH4WsqybNxCGHTybUf5GAYdb.jpg);
}
.kontainer {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #ff0000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
img {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: auto;
}
table, th, td {
    border: 10px solid #ff0000;
    border-collapse: collapse;
    padding: 100px;
    text-align: left;
    margin: auto;
    color: aliceblue;;
}
.box {
    margin-left: 500px;
    color: #f9f9f9;
}
p {
    color: aliceblue;
}
h1 {
   text-align: center;
}